/* styles.css */

body {
    background: #eee;
}

.container {
    position: relative;
    width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px #ccc;
}

.box {
    height: 120px;
    width: 120px;
    background: #000;
    color: white;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
